.act
.git
.github
.husky
.vscode
infra
!infra/docker/nginx
k8s
docs
node_modules
.gitignore
.DS_Store
.release-please-manifest.json
CHANGELOG*.md
release-please-config.json

*/config/*.json
coverage
dist
*/.eslintrc.js
*/jest.config.json

packages/config/config/*.json
!packages/config/config/*.template.json