<button
  mat-stroked-button
  style="padding: 1rem"
  color="primary"
  (click)="github()"
  i18n="Auth with GitHub button|Used for sign in and sign up"
>
  GitHub
</button>
<button
  mat-stroked-button
  style="padding: 1rem"
  color="primary"
  (click)="google()"
  i18n="Auth with Google button|Used for sign in and sign up"
>
  Google
</button>
<button
  mat-stroked-button
  style="padding: 1rem"
  color="primary"
  (click)="facebook()"
  i18n="Auth with Facebook button|Used for sign in and sign up"
>
  Facebook
</button>
