HB_SECRET_FACEBOOK_CLIENT_ID: 
HB_SECRET_FACEBOOK_CLIENT_SECRET: 
HB_SECRET_GITHUB_CLIENT_ID: 
HB_SECRET_GITHUB_CLIENT_SECRET: 
HB_SECRET_GOOGLE_CLIENT_ID: 
HB_SECRET_GOOGLE_CLIENT_SECRET: 
HB_SECRET_EMAIL_USER: 
HB_SECRET_EMAIL_PASS: 