<div class="sign-up">
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n="Sign in form name|Sign in form name">Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <app-auth-social></app-auth-social>
    </mat-card-actions>

    <mat-card-actions>
      <span i18n="Sign in question from sign up form|Ask user if has account yet">Already have an account?</span>
      &nbsp;
      <a routerLink="/auth/sign-in" i18n="Sign in link from sign up form|Sign in link from sign up form">Sign in</a>
    </mat-card-actions>
  </mat-card>
</div>
